{% extends ('basefront/base.html.twig') %}
{% block body %}
<div align="center">
            <div class="col-6">
              <div class="card mb-4">
                <div  align="center" class="card-header pb-0">
                  <div class="card text-white bg-primary mb-3" style="max-width: 40rem; height: 100">
<div class="card-body">
               
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    </div>   </div>   </div>   </div>   </div>   </div>   </div>
    {{ include('user/_delete_form1.html.twig') }}
{% endblock %}
